{% extends "base.html.twig" %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

{% if app.user %}

<h3 style="margin: 20px;margin-left:40%;";>
    {% if editMode %}
    Modifier un article
    {% else %}
    Créer un article
    {% endif %}
</h5>

    <div class="centeredContainer">

    {{ form_start(formArticle) }}

    {{  form_row(formArticle.title, {'attr': { 'placeholder' : "Titre de l'article"}}) }}
    {{  form_row(formArticle.category) }}
    {{  form_row(formArticle.content, {'attr': { 'placeholder' : "Contenu de l'article"}})  }}
    {{  form_row(formArticle.image, {'attr': { 'placeholder' : "URL de l'image"}}) }}

   
    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Enregistrer la modification
        {% else %}
        Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}

    </div>

{% else %}

<h5>Connectez-vous pour créer un article</h5>
<a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
<a href="{{path('security_registration')}}" class="btn btn-primary">Inscription</a>

    

{% endif %}




{% endblock %}