{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section>
    {% for article in articles %}
<article class="articles">
    <h5>{{ article.title }}</h5>
    <div class="metadata">Ecris le {{ article.createdAt | date('d/m/Y') }} dans la categorie {{ article.category.title }} par {{ article.user.username }}  </div>
    <div class="articleContent">
        <img src="{{ article.image }}" alt="">
        {{ article.content | raw }}
        <div>
            <a href=" {{ path('blog_show', {'id' : article.id}) }}" class="btn btn-primary readButton">Lire la suite </a>
        </div>
        
    </div>
</article>
{% endfor %}
</section>
{% endblock %}
